h1 {
  font-family: 'Shadows Into Light', cursive;
  margin: 20px;
}
 body{
   background-color: #d7e5f0;
 }
.jumbotron a:hover{
  text-decoration: none;
}
.jumbotron a:active{
  text-decoration: none;
}
.jumbotron a:link{
  text-decoration: none;
}
.jumbotron a:visited{
  text-decoration: none;
}

#post {
  background-color: #DBDBDB;
  border-radius: 20px;
  padding: 15px;
  margin: 5px;
  max-width: 500px;
}

#post img {
  width:300px;
}

#detail {
  width: 500px;
}
